<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools"
             type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="EllisControls" value="EllisControls.xml" />

    <add key="path" value="C:\Program Files (x86)\True Blue\Ellis\Ellis.exe" />
    <add key="altpath" value="%ProgramFiles(x86)%\\True Blue\\Ellis\\Ellis.exe" />
    
    <add key="apppassword" value="L@bor123" />
    <add key="appdomain" value="CORP" />

    <add key="csrusername" value="EllisCSR" />
    <add key="armusername" value="EllisARM" />
    <add key="dmusername" value="EllisDM" />
    <add key="arrusername" value="EllisARR" />
    <add key="avpusername" value="EllisAVP" />
    <add key="nabsusername" value="EllisNABS" />
    <add key="napsusername" value="EllisNAPS" />
    <add key="naamusername" value="EllisNAAM" />
    <add key="tausername" value="EllisTA" />
    <add key="rausername" value="EllisRA" />
    <add key="prmusername" value="EllisPRM" />
    <add key="pwusername" value="EllisPW" />
    <add key="gsusername" value="EllisGS" />
    <add key="glusername" value="EllisGL" />
  
  </appSettings>
  <connectionStrings>
    <add name="EllisDataConnection"
         connectionString="Driver={Microsoft Excel Driver (*.xls)};DriverId=790;Dbq=TestData.xls;DefaultDir=|DataDirectory|"
         providerName="System.Data.Odbc" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <!--Login TestFixture Data Sources-->
      <add name="LoginValid" connectionString="EllisDataConnection" dataTableName="LoginValid$"
           dataAccessMethod="Sequential" />
      <add name="LoginInvalid" connectionString="EllisDataConnection" dataTableName="LoginInvalid$"
           dataAccessMethod="Sequential" />
      <add name="CustomerAdvancedSearch" connectionString="EllisDataConnection" dataTableName="CustomerAdvancedSearch$"
           dataAccessMethod="Sequential" />
      <add name="InvoiceAdvancedSearch" connectionString="EllisDataConnection" dataTableName="InvoiceAdvancedSearch$"
           dataAccessMethod="Sequential" />
      <add name="LockOutAdvancedSearch" connectionString="EllisDataConnection" dataTableName="LockOutAdvancedSearch$"
           dataAccessMethod="Sequential" />
      <add name="SimpleSearch" connectionString="EllisDataConnection" dataTableName="SimpleSearch$"
           dataAccessMethod="Sequential" />
      <add name="LoginFields" connectionString="EllisDataConnection" dataTableName="LoginFields$"
           dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>